{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="text-center">ClearSkies Dashboard</h1>
                <p id="welcome" style="text-align: center;">Welcome! What's the weather like in...</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" name="city" placeholder="Enter any city name">
                        <div class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <button id="toggleUnitsBtn" class="btn btn-secondary" onclick="toggleUnits()">Change Between Imperial or Metric units</button>
        <p id="currentUnits">Current Units: Metric</p> 

        <div class="row">
            <div class="col-md-3">
                <div class="feels-like">
                    <h2 class="text-center">{{ feels_like }}</h2>
                    <h2 class="text-center">Today's ClearSkies' Feels Like Temperature</h2>
                    <p style="text-align: center;">(calculated using the heat index formula)</p>
                </div>
            </div>

            {% if temperature_chart_json_celsius and temperature_chart_json_fahrenheit and humidity_chart_json %}
            <div class="col-md-6">
                <h3 class="text-center">3-hourly Forecast (up to 30 hours)</h3>
                <div class="chart-container">
                    <canvas id="temperatureChartCelsius" width="1000px" height="400px"></canvas>
                </div>
                <br>
                <div class="chart-container">
                    <canvas id="temperatureChartFahrenheit" width="1000" height="400"></canvas>
                </div>
                <br>
                <div class="chart-container">
                    <canvas id="humidityChart" width="1000px" height="400px"></canvas>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- JavaScript for rendering charts -->
    <script>
    const temperatureDataCelsius = {{ temperature_chart_json_celsius|safe }};
    const temperatureDataFahrenheit = {{ temperature_chart_json_fahrenheit|safe }};

    const humidityData = {{ humidity_chart_json|safe }};

    // Render Temperature charts in Celsius and Fahrenheit
    const temperatureCtxCelsius = document.getElementById('temperatureChartCelsius');
    new Chart(temperatureCtxCelsius, {
        type: 'line',
        data: temperatureDataCelsius,
        options: {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Date'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Temperature (°C)'
                    }
                }
            },
            responsive: true,
            maintainAspectRatio: false
        }
    });

    const temperatureCtxFahrenheit = document.getElementById('temperatureChartFahrenheit');
    new Chart(temperatureCtxFahrenheit, {
        type: 'line',
        data: temperatureDataFahrenheit,
        options: {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Date'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Temperature (°F)'
                    }
                }
            },
            responsive: true,
            maintainAspectRatio: false
        }
    });

    // Render Humidity chart
    const humidityCtx = document.getElementById('humidityChart');
    new Chart(humidityCtx, {
        type: 'line',
        data: humidityData,
        options: {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Date'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Humidity (%)'
                    }
                }
            },
            responsive: true, // Make the chart responsive
            maintainAspectRatio: false // Optionally, allow aspect ratio adjustment
        }
    });
</script>



</body>
</html>
