asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
chartjs==1.2
Django==5.0.4
idna==3.7
packaging==24.0
plotly==5.21.0
pyChart.JS==0.3.0
requests==2.31.0
sqlparse==0.5.0
tenacity==8.2.3
urllib3==2.2.1
